<!-- we could also write stuff like <addExpression></addExpression> (but that wouldnt validate in HTML5)
or <span class="add-expression"></span> (but that would be semanticaly wrong) -->
Using the service: <span data-dbpb-add-form data-useAddService="true" ></span>
<br />
Not using the service: <span data-dbpb-add-form data-useAddService="false" ></span>
<br />
Using the service: <span data-dbpb-add-form data-useAddService="true" ></span>
<br />
Not using the service: <span data-dbpb-add-form data-useAddService="false" ></span>